.digialaram{
    height: 50px;
    width: 200px;
    background-color: black;
    padding-left: 30px;
    padding-top: 7px;
    border-radius: 5px;
    color: azure;
}
.digi1{
  padding-left: 100px;
  padding-top: 50px;

}